.container{
    margin: 30px;
}

tbody{
    margin-left: 50px;
}
.done-mark{
    font-size: 30px;
    color: aqua;
    margin: 5px;
}

#message-dialog{
    min-height: 50px;
    max-height: 50px;
}

.not-done-mark{
    font-size: 30px;
    color: rgb(15, 13, 13);
    margin: 5px;
}

.hidden{
    visibility: hidden;
}

.done-work-text{
    font-size: 20px;
    min-width: 200px;
    max-width: 200px;
    color: darkslategrey;
}

.not-done-work-text{
    font-size: 20px;
    min-width: 200px;
    max-width: 200px;
    color: black;
}

.delete-task{
    font-size: 30px;
    color: aqua;
}
